<div class=" container-fluid bg-dark mt-3 ">
 
   
  <ul class="nav nav-pills d-flex justify-content-evenly m-3 mb-5 border-top  ">
           
      <li class="nav-item m-2">
                <a class="nav-link " routerLink="add-product" routerLinkActive="active">Add product</a>
      </li>
      <li class="nav-item m-2">
                <a class="nav-link " routerLink="view-products" routerLinkActive="active">View Products</a>
      </li>
      
      
    </ul>
      <router-outlet></router-outlet>
  </div>
